body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.dark-mode {
    background-color: black;
    color: white;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    border: 2px solid black;
}


.dark-mode table {
    border: 2px solid white;
}


th, td {
    border: 1px solid black; 
    padding: 10px;
    text-align: center;
}

.dark-mode th, .dark-mode td {
    border: 1px solid white;
}

tr {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.dark-mode tr {
    border-right:1px solid white;
    border-bottom: 1px solid white;
}

th {
    background-color: #0044cc;
    color: white;
}

select {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.dark-mode select {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.button-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 10px 0;
}

.hidden {
    display: none;
}

.exporter {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 10px; /* Optional spacing */
}